/* ==================================================================================
// BASE
==================================================================================*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  position: relative;
}

/*==================================================================================
// UTILITIES
==================================================================================*/
.none {
  display: none;
}

.vis-hidden {
  visibility: hidden;
}

/* ==================================================================================
// LAYOUT
==================================================================================*/

.cards {
  padding: 6rem;
  display: grid;
  grid-template-columns: repeat(5, 15%);
  grid-template-rows: repeat(4, 15rem);
  grid-gap: 3rem;
  align-content: center;
  justify-content: center;
}

/* .card {
  padding: 4rem;
  font-size: 2rem;
  color: white;
  background-color: brown;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.buttons {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==================================================================================
// TYPOGRAPHY
==================================================================================*/
h1 {
  padding-top: 2rem;
  text-align: center;
}

/* ==================================================================================
// ANIMATIONS FOR CARDS
==================================================================================*/
/* FLIP CARD CONTAINER */
.card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  font-size: 2rem;
}

/* This container positions the front and back side */
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 2s;
  transform-style: preserve-3d;
}

/* Flips container horizontally */
.card-hover .card-inner {
  transform: rotateY(180deg);
}

/* Positions the front and the back side */
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
}

.card-front {
  background-color: brown;
  color: white;
}

/* Styling the back side */
.card-back {
  background-color:brown;
  color: white;
  transform: rotateY(180deg);
}

#triviaPopup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: display .3s;
}

.test {
  padding: 4rem;
  background-color: white;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fa-times {
  color: white;
  font-size: 3rem;
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
}